@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin common-input {
    width: 90%;
    height: auto;
    padding: 7px;
    font-size: 1.2rem;
    border-radius: 10px;
    background: #fff;
    border: solid 1px #000;
    color: #000;

    &::placeholder {
        text-align: center;
    }

    @media screen and(min-width: 768px) and (max-width: 999px) {
        padding: 12px;
        font-size: 1.3rem;
    }

    @media screen and(min-width: 1000px) {
        padding: 17px;
        font-size: 2rem;
    }

    @media screen and(min-width: 1440px) {
        padding: 20px;
        font-size: 3rem;
    }
}


//Sec2と4のインプット
@mixin common-input-2 {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 1.4rem;
    border-radius: 10px;
    background: #fff;
    border: solid 1px #000;

    &::placeholder {
        text-align: center;
    }

    @media screen and (min-width: 768px) and (max-width: 999px) {
        padding: 15px;
        font-size: 1.5rem;
    }

    @media screen and(min-width: 1000px) {
        padding: 20px;
        font-size: 2rem;
    }

    @media screen and(min-width: 1440px) {
        padding: 20px;
        font-size: 3rem;
    }
}



@mixin button-style {
    transition: all .3s;
    text-align: left;
    padding-top: .5rem;

    &:hover {
        cursor: pointer;
        opacity: .7;
    }

    img {
        // max-width: 90%;
        width: 90%;
    }

    @include mq(md) {
        padding-top: 1rem;
    }



}

//Sec2と4のボタン
@mixin button-style-2 {
    transition: all .3s;
    text-align: center;
    padding-top: 1rem;

    @include mq(md) {
        padding-top: 2rem;
    }

    &:hover {
        cursor: pointer;
        opacity: .7;
    }

    img {
        // max-width: 100%;
        width: 100%;
    }
}